body {
    position: relative;
    height: 100vh;
    margin: 0px;
}
.squereAnimation {
    width: 320px;
    height: 170px;
    position: absolute;
    background: linear-gradient(45deg, rgb(221, 202, 34), rgb(29, 29, 146));
    border: 2px solid rgb(69, 69, 200);
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
    transform-origin: 50% 0; 
    transform: rotate(-25deg);
    box-shadow: -4px 4px 6px rgb(180, 178, 178);
}

