body {
    background: rgb(69, 152, 247);
}
.container, .top, .bottom {
    display: flex;
}
.container {
    margin: 20px auto;
    border: 2px solid transparent;
    height: 500px;
    width: 690px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.top{
    justify-content: space-between;
    height:170px;
    width: 690px;
}
.top :first-child {
    background-color: yellow;
    height: 180px;
    width: 465px;
    margin-right: 5px;
}
.top :last-child {
    background-color: darkblue;
    height: 180px;
    width: 210px;
    margin-left: 5px;
}
.left {
    height: 290px;
    width: 290px;
    background-color: darkblue;
    align-self: flex-start;
    margin: 0px 5px 0 0;
}
.bottom {
    flex-direction: row;
    justify-content: space-between;
    height: 280px;
    width: 690px;
    align-items: flex-start;
}
.right {
    flex-direction: column;
}
.right :first-child {
    background-color: red;
    height: 135px;
    width: 385px;
    margin: 0px 0 15px 5px;
}
.right :last-child {
    background-color: yellow;
    height: 140px;
    width: 385px;
    align-self: flex-end;
    margin: 10px 0 0 5px;
}
.text {
    margin-left: 320px;
    font-size: 145px;
    color: white;
    font-weight: bold;
    width: 690px;
    text-align: center;
}