body, .header, .top-nav, .top, .top-center, .media-icons, .represant, .design, .our_community article, .our_community, .photo_carousel, .subscribe, .user_email form, .footer, .download, .download div, .contain-block, .foot-contain {
    display: flex;
}
@font-face {
    font-family: 'Gotham Rounded';
    src: url(../fonts/1/GothamRounded-Bold.eot);
    src: url(../fonts/1/GothamRounded-Bold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/1/GothamRounded-Bold.woff2) format('woff2'),
        url(../fonts/1/GothamRounded-Bold.woff) format('woff'),
        url(../fonts/1/GothamRounded-Bold.ttf) format('truetype'),
        url(../fonts/1/GothamRounded-Bold.svg#GothamRounded-Bold) format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url(../fonts/1/GothamRounded-Medium.eot);
    src: url(../fonts/1/GothamRounded-Medium.eot?#iefix) format('embedded-opentype'),
        url(../fonts/1/GothamRounded-Medium.woff2) format('woff2'),
        url(../fonts/1/GothamRounded-Medium.woff) format('woff'),
        url(../fonts/1/GothamRounded-Medium.ttf) format('truetype'),
        url(../fonts/1/GothamRounded-Medium.svg#GothamRounded-Medium) format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url(../fonts/1/GothamRounded-Light.eot);
    src: url(../fonts/1/GothamRounded-Light.eot?#iefix) format('embedded-opentype'),
        url(../fonts/1/GothamRounded-Light.woff2) format('woff2'),
        url(../fonts/1/GothamRounded-Light.woff) format('woff'),
        url(../fonts/1/GothamRounded-Light.ttf) format('truetype'),
        url(../fonts/1/GothamRounded-Light.svg#GothamRounded-Light) format('svg');
    font-weight: 300;
    font-style: normal;
}
body {
    flex-direction: column;
    font-family: 'Gotham Rounded';  
    position: relative;
}


/*------------------------------------- HEADER -----------------------------*/
.header {
    width: 100%;
    height: 150px;
    background-color: transparent;
    justify-content: center;
    z-index: 10;
    left: 0;
    top: 0;
    position: fixed;
    align-items: center;
    transition: .25s;
}
.header.active {
    background-color: rgba(0,0,0, .7);
    height: 65px;
    max-width: 100%;
}

.header.active .top-nav {
    margin-top: 0;
    align-items: center;
}
.header.active .top-nav a{
    font-size: 14px;
}
.header.active .top-nav a.logo img{
    max-width: 35px;
}
.top-nav {
    width: 1200px;
    justify-content: space-evenly;
    align-items: flex-end; 
    margin-top: 40px;
}
.top-nav a, .btn, .top-center, h1, i {
    color: white;
}
.top-nav a, .btn, h1, h3 {
    font-weight: bold;
}
.top-nav a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
}
.logo img{
    max-width: 55px;
    height: auto;
}
i {
    font-size: 18px;
}

/*--------------------------------------- Section TOP ---------------------*/
.top {
    position: relative;
    max-width: 100%;
    height: 745px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.top-center {
    flex-direction: column;
    align-items: center;
}
.top-center h1 {
    margin: 0px;
    font-size: 36px;
    letter-spacing: 5px;
}
.top-center p {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 0px;
    margin: 25px auto;
}
.media-icons {
    position: absolute;
    margin-bottom: 26px;
    width: 100px;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0px;
}
.btn {
    background-color: #16a085;
    height: 50px;
    width: 168px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 2px;
    outline: none;
    position: relative;
    overflow: hidden;
}
.btn:hover {
    cursor: pointer;
}
.btn:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #fff , transparent);
    border-radius: 5px;
    position: absolute;
    left: -150%;
    top: 0;
    transform: rotate(-45deg);
}
.btn:hover:before {
    left: 150px;
    transition: 0;
    transition: .85s;
}

/*------------------------------------- Section REPRESANT --------------------*/
.represant {
    width: 100%;
    height: 494px;
    background-color: #f5f6f7;
    flex-wrap: wrap;
    justify-content: center;
}
.contain-block {
    max-width: 1200px;
    justify-content: center;
    align-items: center;   
}
.contain-block article {
    width: 45%;
}
h3 {
    font-size: 18px;
    letter-spacing: 3px;
    color: #16a085;
}
.contain-block article p {
    margin: 49px 0px 45px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #373737;
}
.pic {
    height: 100%; 
    width: 55%;
    display: flex;
    align-items: flex-end;
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}
.pic img {
    height: auto;
    max-width: 637px;    
}

/*---------------------------------- Section DESIGN ------------------*/
.design {
    height: 558px;
    width: 100%;
    justify-content: center;
    background-color: rgb(228, 226, 226);
}
.image {
    height: 80%;
    width: 60%;
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat; 
    margin-top: 110px;
}
.design article {
    width: 40%;
    position: relative;
}
.design article p {
    margin: 44px auto 41px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #373737;
}
.design article button {
    margin-bottom: 44px;
}
.design article span {
    position: absolute;
    top: 105%;
    left: -5px;
}

/*------------------- Section OUR_COMMUNITY - слайдери з фото -----------------*/
.our_community {
    width: 100%;
    height: 484px;
    background-color: #f5f6f7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    width: 1200px;
    justify-content: space-between;
}
.container article {
    width: 20%;
    height: 244px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.container article img {
    width: 59px;
    height: 55px;
}
.our_community h4 {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 20px;
    color: #373737;
    font-weight: bold;
}
.our_community p {
    width: 139px;
    height: 177px;
    font-size: 10px;
    letter-spacing: 2px;
    color: #373737;
    font-weight: 500;
    text-align: center;
}
.photo_carousel {
    position:relative;
    width: 80%;
    justify-content: center;
}
.photo_carousel span {
    position: absolute;
    left: 87%;
    bottom: 110%;
}
.slider {
    max-width: 840px;
    max-height: 484px;
    margin: 5px 40%;
}
.arrows, .arr_0 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrows .next, .arrows .prev, .arr_0 .next, .arr_0 .prev {
    border: none;
    background-color: transparent;
    position: relative;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    outline: none;
}
.arrows .next:before, .arr_0 .next:before {
    content: "";
    height: 10px;
    width: 10px;
    display: inline-block;
    border-left: 2px solid #373737;
    border-bottom: 2px solid #373737;
    transform: rotate(-135deg);
} 
.arrows .prev:before, .arr_0 .prev:before {
    content: "";
    height: 10px;
    width: 10px;
    display: inline-block;
    border-left: 2px solid #373737;
    border-bottom: 2px solid #373737;
    transform: rotate(45deg);
}     

/*-------------------------------- Section SUBSCRIBE ---------------------*/
.subscribe {
    max-width: 100%;
    height: 790px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.subscribe > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.subscribe h2 {
    font-size: 24px;
    letter-spacing: 4px;
    color: #ffffff;
    font-weight: bold;
}
.user_email {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.subscribe div form input {
    width: 281px;
    height: 60px;
    border-radius: 3px 0px 0px 3px;
    background-color: #ffffff;
    border: none;
    padding: 0px 15px;
    margin-right: 0px;
    letter-spacing: 2px;
    font-size: 16px;
    color: #373737;
    font-weight: 500;
}
.subscribe div form button {
    width: 64px;
    height: 60px;
    border-radius: 0px 3px 3px 0px;
    background-color: #16a085;
    color: #ffffff;
    border: none;
    padding: 0;
}

/*------------------------------- Section "DOWNLOAD" ----------------*/

.download {
    display: flex;
    height: 398px;
    width: 100%;
    background-color: #f5f6f7;
    justify-content: center;
}
.contain_download {
    display: flex;
    max-width: 1200px;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.contain_download h3 {
    font-size: 20px;
    letter-spacing: 3px;
    color: #373737;
    font-weight: bold;
    margin: 90px auto 16px;
}
.contain_download p {
    max-width: 870px;
    margin: 0 auto 45px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #373737;
    font-weight: 500;
    text-align: center;
}
.contain_download div {
    width: 621px;
    justify-content: space-between;
}
.contain_download div button {
    width: 240px;
    height: 56px;
    border: none;
    border-radius: 3px;
    background-color: #1abc9c;
    font-size: 16px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: bold;
}

/*------------------------------ FOOTER -----------------------*/

.footer {
    height: 130px;
    width: 100%;
    justify-content: center;
}
.foot-contain {
    width: 1200px;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.foot-contain div {
    align-items: center;
}
a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    color: #373737;
    font-weight: bold;   
}
a:hover{
    color: grey;
}
.foot-contain div p {
    font-size: 14px;
    letter-spacing: 2px;
    color: #373737;
    font-weight: bold;
    margin-top: 23px;
}
.footer img {
    height: 53px;
    width: 55px;
    
}

@media only screen and (max-width: 1200px){
.contain-block, .contain_download, .container, .foot-contain {
    width: 85%;
}
.slick-initialized .slick-slide img{
    max-width: 300px;
}
.our_community article {
    width: 30%;
    padding-right: 20px;
}
.photo_carousel{
    width: 70%;
    margin: 0, auto;
}
.slider {
    max-width: 700px;
}
    
}
@media screen and (max-width: 1100px){

    /*-------------- OUR_COMMUNITY - карусель з картинками------------*/
.container article {
    width: 30%;
}
.photo_carousel {
    width: 70%;
}
.slick-initialized .slick-slider {
    justify-content: center;
}
.slick-slider {
    max-width: 650px;
}
.slick-initialized .slick-slide img{
    max-width: 250px;
}
.slick-list {
    max-width: 600px;
}
}

@media only screen and (max-width:900px){

/*------------------------------DESIGN --------------------------------*/
.contain-block .image {
    width: 40%;
    margin: 10px 10px 0 10px;
    align-self: flex-end;
}
.contain-block article {
    width: 60%;
}

/*----------------- OUR_COMMUNITY - карусель з картинками --------------*/
.our_community {
    height: 550px;
    flex-direction: column;
}
.container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}
.our_community .container article {
    width: 100%;
    text-align: center;
    padding-right: 0px;
}
.photo_carousel {
    max-width: 100%;
    margin: 5px auto;
}

.photo_carousel .slider.slick-initialized.slick-slider {
    max-width: 95%;
    justify-content: center;
    padding: 0;
}

/*-------------------- DOWNLOAD - 2 кнопки з store ------------*/
.contain_download div {
    width: 100%;
    justify-content: space-between;
}

/*---------------------FOOTER ----------------------------------*/
.footer {
    position: relative;
}
.foot-contain{
    position: relative;
}
.footer div{
    position: absolute;
    top: -20px;
}
.foot-contain div {
    width: 100%;
}
.footer_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 2;
    margin-top: 50px;
}
.footer_nav span {
    display: none;
    }
.foot-contain div p {
    text-align: center;
    }
}
@media screen and (max-width: 800px){

    /*-------------------------------  Slider------------------------------*/
.slick-initialized .slick-slide img{
    /* max-width: 300px; */
    max-width: 100%;
}

}

@media screen and (max-width:600px){

    /*--------------------------- HEADER ------------------------*/
header {
    width: 100%;
    height: 200px;  
}
.top-nav {
    max-width: 90%;
    justify-content: space-between;
    height: 100%;
}
.top-nav a {
    font-size: 14px;
}
.top-nav {
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    line-height: 14px;
    justify-content: space-evenly;
}
.logo {
    position: absolute;
    left: 0;
    top: 30px;
}
.header.active {
    height: 65px;
}
.header.active .top-nav {
    margin-top: 0;
    align-items: flex-end;
}
.header.active .top-nav a{
    font-size: 10px;
}
.header.active .top-nav a.logo img{
    max-width: 35px;
}
.header.active .top-nav a.logo {
    top: 15px;

}
/*--------------------------------  TOP  -------------------------*/
.top-center h1 {
    font-size: 22px;
}
/*-------------------------------  SUBSCRIBE ---------------------*/
.subscribe div h2 {
    font-size: 14px;
}
.user_email {
    width: 80%;
}

/*------------------------ DOWNLOAD - 2 кнопки з store -----------*/
.contain_download div {
    flex-direction: column;
    align-items: center;
    }
.contain_download div button {
    width: 230px;
    height: 56px;
    font-size: 16px;
    margin: 5px 0px 5px;
    }
.download {
    height: 440px;
}
/*------------------------------- FOOTER --------------------------*/ 
.footer a{
    font-size: 12px;  
  }
}