body {
    width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(245, 245, 245, 0.972);
    font-size: 16px;
    line-height: 1.5em;
}
title {
    display: none;
}
.header {
    width: 100%;
    height: 60px;
    background-color: rgb(37, 37, 37);
    align-content: center;
    padding-left: 60px;
}
.header,.main_wrap {
    width: 100%;
}
* {
    display: flex;
    flex-wrap: wrap;
}

#logo{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#logo div {
    height: 0;
    width: 0;
    border-bottom: 12px solid blue;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}
#logo :last-of-type {
    transform: rotate(180deg) translate(-2px -2px); /*не працює*/
   
}
nav {
    width: 40%;
    justify-content: space-evenly;
}
nav a {
    color: rgba(245, 245, 245, 0.972);
    text-decoration: none;
    align-content: center;
}
.main_wrap {
    margin: 20px 60px 20px;
    justify-content: space-between;
}
.main_info{
    flex-direction: column;
    width: 60%;
    height: 100%;
}
img {
    width: 30%;
   float: left;
}
.about {
    justify-content: space-between;
}
.text_about {
    width: 65%;
    display: inline-block;
}
button {
    display: inline-block;
    height: 3em;
    width: 10em;
    font-size: 18px;
    text-transform: uppercase;
}
button:hover {
    cursor: pointer;
    font-weight: 900;
}
#portfolio {
    margin-right: 10px;
    background-color: rgb(189, 43, 43);
    border: none;
    color: white;
}
#contact {
    background-color: transparent;
    border: 3px solid rgb(189, 43, 43);
    color: rgb(189, 43, 43);
}
.line {
    margin-top: 60px;
    border: 2px solid rgb(230, 230, 230);
    height: 0px;
}
.high_school, .university {
    display: inline-block;
}
.high_school p:first-of-type, .university p:first-of-type{
    color: grey;
}
h2{
    color: rgb(189, 43, 43);

}
h1 {
    font-size: 32px;
    font-weight: bold;
    display: inline;
}

aside {
    width: 30%; 
    height: 100%;
    flex-direction: column;
}
aside div {
    flex-direction: column;
}
.stars {
    font-size: 26px;
    color: rgb(189, 43, 43);
}